*.*~
*.bak
*.log
*.project
*.pydevproject
*.DS_Store
.DS_Store
.settings
*.pyc


.idea/
__pycache__/

validation/
results/
config/*.ini
!config/default-config.ini
config/*.json
!config/rap_instance.json
!config/topology.json
!config/topology_full_mesh.json
*tmp*
*.zip